<div class=" mb-4">
    <div class="breadcrumb">
      <h1 class="">{{ "orders" | translate }}</h1>
      <ul>
        <li>
          <a class="text-dark font-weight-bold">{{ "list" | translate }}</a>
        </li>
        <li>{{ "orders" | translate }}</li>
      </ul>
    </div>
  
    <!-- <a class="btn btn-sm btn-primary mb-3" [routerLink]="'/faqs/create'">
          <i class="fas fa-plus"></i>
          {{ "action.create" | translate }}
        </a> -->
  
    <app-table
      [list]="messageList"
      [titles]="titles"
      [properties]="properties"
      [showPagination]="false"
      [showEdit]="false"
      [showView]="false"
      [showDelete]="false"
     
    ></app-table>
  </div>
  

  <!-- (click)="confirm(modalConfirm) -->
  