<div class=" mb-4">
    <div class="breadcrumb">
      <h1 class="">{{ "orders" | translate }}</h1>
      <ul>
        <li>
          <a class="text-dark font-weight-bold">{{ "list" | translate }}</a>
        </li>
        <li>{{ "orders" | translate }}</li>
      </ul>
    </div>
  
    <!-- <div class="card bg-dark my-3 shadow">
      <div class="card-body ">
        <app-filter [filter]="filter"></app-filter>
      </div>
    </div> -->
    <app-table
      [list]="categoryList"
      [titles]="titles"
      [properties]="properties"
      [create]="'/category/create'"
      [pagination]="pagination"
      (activetedPageSize)="setPageSize($event)"
      (activetedPageNumber)="setPageNumber($event)"
      (delete)="deleteCategory($event)"
      [showSearch]="false"
      [showEdit]="true"
      [showView]="true"
      [showDelete]="true"
      (view)="navigateToView($event)"
      (edit)="navigateToEdit($event)"
      (search)="searchValue()"
      (resetFilter)="resetfilter()"
      ></app-table>
    </div>
    
    <!-- [addActions]="true"
    [actionList]="[
      {
        title: 'assign',
        icon: 'i-Checked-User',
        type: 'assign'
      },
      {
        title: 'revoke',
        icon: 'i-Remove-User',
        type: 'revoke'
      },
      { title: 'withdraw', icon: 'i-Close-Window', type: 'withdraw' }
    ]"
    (aciton)="navigateTO($event)" -->
  
  