<div class="card card-flush shadow-sm">
  <div class="card-header">
    <h3 class="card-title">
      <span> {{ mode | translate }} - </span>
      <span class="mx-2"> {{ "restaurant" | translate }} </span>
    </h3>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "title" | translate }}</label>
          <input
            type="text"
            formControlName="title"
            class="form-control form-control-rounded"
            placeholder="{{ 'title' | translate }}"
          />
          <div
            *ngIf="
              !form.get('title').valid &&
              (form.get('title').dirty || form.get('title').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('title').hasError('required')">
              {{ "required" | translate }}
            </p>
            <p *ngIf="form.get('title').hasError('pattern')">
              {{ "only_en" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "title" | translate }} ع</label>
          <input
            type="text"
            formControlName="titleAr"
            class="form-control form-control-rounded"
            placeholder="{{ 'title' | translate }} ع"
          />
          <div
            *ngIf="
              !form.get('titleAr').valid &&
              (form.get('titleAr').dirty || form.get('titleAr').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('titleAr').hasError('required')">
              {{ "required" | translate }}
            </p>
            <p *ngIf="form.get('titleAr').hasError('pattern')">
              {{ "only_ar" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "description" | translate }}</label>
          <input
            type="text"
            formControlName="description"
            class="form-control form-control-rounded"
            placeholder="{{ 'description' | translate }}"
          />
          <div
            *ngIf="
              !form.get('description').valid &&
              (form.get('description').dirty || form.get('description').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('description').hasError('required')">
              {{ "required" | translate }}
            </p>
            <p *ngIf="form.get('description').hasError('pattern')">
              {{ "only_en" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "description" | translate }} ع</label>
          <input
            type="text"
            formControlName="descriptionAr"
            class="form-control form-control-rounded"
            placeholder="{{ 'description' | translate }} ع"
          />
          <div
            *ngIf="
              !form.get('descriptionAr').valid &&
              (form.get('descriptionAr').dirty ||
                form.get('descriptionAr').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('descriptionAr').hasError('required')">
              {{ "required" | translate }}
            </p>
            <p *ngIf="form.get('descriptionAr').hasError('pattern')">
              {{ "only_ar" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "featuredImage" | translate }} </label>
          <app-file-input
            [control]="form.controls.featuredImage"
            [currentImage]="form.controls.featuredImage.value"
          >
          </app-file-input>
          <div
            *ngIf="
              !form.get('featuredImage').valid &&
              (form.get('featuredImage').dirty ||
                form.get('featuredImage').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('featuredImage').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "images" | translate }} </label>
          <app-file-input
            [controlArray]="form.controls.images"
            [multiple]="true"
          >
          </app-file-input>
          <div
            *ngIf="
              !form.get('images').valid &&
              (form.get('images').dirty ||
                form.get('images').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('images').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>
      </div>

  
      <div class="row mt-3">
     

        <div class="col-md-6 col-sm-12">
          <div class="card border">
            <div class="card-header">
              <h5>
                {{ "tags" | translate }}
              </h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div
                  class="col-md-4 col-sm-6 d-flex"
                  *ngFor="let item of tagList; let i = index"
                >
                  <label class="checkbox checkbox-info text">
                    <input
                      checked=""
                      [(ngModel)]="item.selected"
                      [value]="item.id"
                      [ngModelOptions]="{standalone: true}"
                      type="checkbox"
                    />
                    <span> {{ currentLanguage == "en" ? item.title : item.titleAr }} </span
                    ><span class="checkmark"></span>
                  </label>
                  <!-- <div class="" style="width:30px;height:30px;background-color:{{item.hexa}};"></div> -->
                </div>
              </div>
            </div>
            <div
            *ngIf="
              !form.get('tagsId').valid &&
              (form.get('tagsId').dirty || form.get('tagsId').touched)
            "
            class="text text-danger"
          >
            <p class="text-center mb-0 mt-1" *ngIf="form.get('tagsId').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
          </div>
        </div>
      </div>
      <hr />
      <div formGroupName="restaurantAdmin">
        <h4>
          {{ "restaurantAdmin" | translate }}
        </h4>
        <div class="row mt-3">
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "firstName" | translate }}</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control form-control-rounded"
              placeholder="{{ 'firstName' | translate }}"
            />
            <div
              *ngIf="
                !form.get('restaurantAdmin.firstName').valid &&
                (form.get('restaurantAdmin.firstName').dirty ||
                  form.get('restaurantAdmin.firstName').touched)
              "
              class="text text-danger"
            >
              <p
                *ngIf="
                  form.get('restaurantAdmin.firstName').hasError('required')
                "
              >
                {{ "required" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "lastName" | translate }} </label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control form-control-rounded"
              placeholder="{{ 'lastName' | translate }}"
            />
            <div
              *ngIf="
                !form.get('restaurantAdmin.lastName').valid &&
                (form.get('restaurantAdmin.lastName').dirty ||
                  form.get('restaurantAdmin.lastName').touched)
              "
              class="text text-danger"
            >
              <p
                *ngIf="
                  form.get('restaurantAdmin.lastName').hasError('required')
                "
              >
                {{ "required" | translate }}
              </p>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "email" | translate }}</label>
            <input
              type="email"
              formControlName="email"
              class="form-control form-control-rounded"
              placeholder="{{ 'email' | translate }}"
            />
            <div
              *ngIf="
                !form.get('restaurantAdmin.email').valid &&
                (form.get('restaurantAdmin.email').dirty ||
                  form.get('restaurantAdmin.email').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('restaurantAdmin.email').hasError('required')">
                {{ "required" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "password" | translate }} </label>
            <input
              type="password"
              formControlName="password"
              class="form-control form-control-rounded"
              placeholder="{{ 'password' | translate }}"
            />
            <div
              *ngIf="
                !form.get('restaurantAdmin.password').valid &&
                (form.get('restaurantAdmin.password').dirty ||
                  form.get('restaurantAdmin.password').touched)
              "
              class="text text-danger"
            >
              <p
                *ngIf="
                  form.get('restaurantAdmin.password').hasError('required')
                "
              >
                {{ "required" | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "countryCode" | translate }}</label>
            <input
              type="text"
              formControlName="countryCode"
              class="form-control form-control-rounded"
              placeholder="{{ 'countryCode' | translate }}"
            />
            <div
              *ngIf="
                !form.get('restaurantAdmin.countryCode').valid &&
                (form.get('restaurantAdmin.countryCode').dirty ||
                  form.get('restaurantAdmin.countryCode').touched)
              "
              class="text text-danger"
            >
              <p
                *ngIf="
                  form.get('restaurantAdmin.countryCode').hasError('required')
                "
              >
                {{ "required" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "phoneNumber" | translate }} </label>
            <input
              type="text"
              minlength="9"
              maxlength="11"
              formControlName="phoneNumber"
              class="form-control form-control-rounded"
              placeholder="{{ 'phoneNumber' | translate }}"
            />
            <div
              *ngIf="
                !form.get('restaurantAdmin.phoneNumber').valid &&
                (form.get('restaurantAdmin.phoneNumber').dirty ||
                  form.get('restaurantAdmin.phoneNumber').touched)
              "
              class="text text-danger"
            >
              <p
                *ngIf="
                  form.get('restaurantAdmin.phoneNumber').hasError('required')
                "
              >
                {{ "required" | translate }}
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="row mt-3">
          <div class="col-md-6 col-sm-12">
            <div class="card border" >
              <div class="card-body" formArrayName="phoneNumber">
                <div class="d-flex justify-content-between">
                  <div class="p-2">
                    <h5>
                      {{ "phoneNumber" | translate }}
                    </h5>
                  </div>
                  <div class="p-2">
                    <button
                      (click)="addRestaurantAdminPhoneForm()"
                      type="button"
                      class="btn btn-rounded btn-info px-4 mx-4 text-white d-inline-block"
                    >
                      <i class="fas fa-plus"></i>
                      {{ "add" | translate }}
                    </button>
                  </div>
                </div>
  
                <div
                  class="card bg-light my-2"
                  *ngFor="
                    let item of form.get('restaurantAdmin').get('phoneNumber')['controls'];
                    let i = index
                  "
                >
                  <div class="card-body py-1">
                    <div class="d-flex justify-content-around">
                      <div class="p-2 text-white w-100"  [formGroupName]="i" >
                        <input
                          type="number"
                          formControlName="phone"
                          class="form-control form-control-rounded"
                          placeholder="{{ 'phone' | translate }}"
                        />
                         <div
                        *ngIf="
                          !form.get('restaurantAdmin').controls.phoneNumber.controls[i].get('phone').valid &&
                          (form.get('restaurantAdmin').controls.phoneNumber.controls[i].get('phone').dirty || form.get('restaurantAdmin').controls.phoneNumber.controls[i].get('phone').touched)
                        "
                        class="text text-danger"
                      >
                        <p class="text-center mb-0 mt-1" *ngIf="form.get('restaurantAdmin').controls.phoneNumber.controls[i].get('phone').hasError('required')">
                          {{ "required" | translate }}
                        </p>
                      </div> 
                      </div>
  
                      <div class="p-1">
                        <span
                          title="{{ 'Delete' | translate }}"
                          class="badge badge-pill badge-danger p-2 mr-1"
                          (click)="deleteRestaurantAdminPhoneForm(i)"
                        >
                          <i
                            title="{{ 'Delete' | translate }}"
                            class="text-20 font-weight-bold i-Delete-File"
                          ></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
            *ngIf="
              !form.get('restaurantAdmin').get('phoneNumber').valid &&
              (form.get('restaurantAdmin').get('phoneNumber').dirty || form.get('restaurantAdmin').get('phoneNumber').touched)
            "
            class="text text-danger"
          >
            <p class="text-center mb-0 mt-1" *ngIf="form.get('restaurantAdmin').get('phoneNumber').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
          </div>
        </div> -->
      </div>

      <hr />

      <div formGroupName="branch">
        <h4>
          {{ "branch" | translate }}
        </h4>
        <div class="row mt-3">
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "title" | translate }}</label>
            <input
              type="text"
              formControlName="title"
              class="form-control form-control-rounded"
              placeholder="{{ 'title' | translate }}"
            />
            <div
              *ngIf="
                !form.get('branch.title').valid &&
                (form.get('branch.title').dirty ||
                  form.get('branch.title').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('branch.title').hasError('required')">
                {{ "required" | translate }}
              </p>
              <p *ngIf="form.get('branch.title').hasError('pattern')">
                {{ "only_en" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "title" | translate }} ع</label>
            <input
              type="text"
              formControlName="titleAr"
              class="form-control form-control-rounded"
              placeholder="{{ 'title' | translate }} ع"
            />
            <div
              *ngIf="
                !form.get('branch.titleAr').valid &&
                (form.get('branch.titleAr').dirty ||
                  form.get('branch.titleAr').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('branch.titleAr').hasError('required')">
                {{ "required" | translate }}
              </p>
              <p *ngIf="form.get('branch.titleAr').hasError('pattern')">
                {{ "only_ar" | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "description" | translate }}</label>
            <input
              type="text"
              formControlName="description"
              class="form-control form-control-rounded"
              placeholder="{{ 'description' | translate }}"
            />
            <div
              *ngIf="
                !form.get('branch.description').valid &&
                (form.get('branch.description').dirty ||
                  form.get('branch.description').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('branch.description').hasError('required')">
                {{ "required" | translate }}
              </p>
              <p *ngIf="form.get('branch.description').hasError('pattern')">
                {{ "only_en" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "description" | translate }} ع</label>
            <input
              type="text"
              formControlName="descriptionAr"
              class="form-control form-control-rounded"
              placeholder="{{ 'description' | translate }} ع"
            />
            <div
              *ngIf="
                !form.get('branch.descriptionAr').valid &&
                (form.get('branch.descriptionAr').dirty ||
                  form.get('branch.descriptionAr').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('branch.descriptionAr').hasError('required')">
                {{ "required" | translate }}
              </p>
              <p *ngIf="form.get('branch.descriptionAr').hasError('pattern')">
                {{ "only_ar" | translate }}
              </p>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "countryCode" | translate }}</label>
            <input
              type="text"
              formControlName="countryCode"
              class="form-control form-control-rounded"
              placeholder="{{ 'countryCode' | translate }}"
            />
            <div
              *ngIf="
                !form.get('branch.countryCode').valid &&
                (form.get('branch.countryCode').dirty ||
                  form.get('branch.countryCode').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('branch.countryCode').hasError('required')">
                {{ "required" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "address" | translate }} </label>
            <input
              type="text"
              formControlName="address"
              class="form-control form-control-rounded"
              placeholder="{{ 'address' | translate }}"
            />
            <div
              *ngIf="
                !form.get('branch.address').valid &&
                (form.get('branch.address').dirty ||
                  form.get('branch.address').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('branch.address').hasError('required')">
                {{ "required" | translate }}
              </p>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6 col-sm-12">
            <div class="card border" >
              <div class="card-body" formArrayName="phoneNumbers">
                <div class="d-flex justify-content-between">
                  <div class="p-2">
                    <h5>
                      {{ "phoneNumber" | translate }}
                    </h5>
                  </div>
                  <div class="p-2">
                    <button
                      (click)="addPhoneForm()"
                      type="button"
                      class="btn btn-rounded btn-info px-4 mx-4 text-white d-inline-block"
                    >
                      <i class="fas fa-plus"></i>
                      {{ "add" | translate }}
                    </button>
                  </div>
                </div>
  
                <div
                  class="card bg-light my-2"
                  *ngFor="
                    let item of form.get('branch').get('phoneNumbers')['controls'];
                    let i = index
                  "
                >
                  <div class="card-body py-1">
                    <div class="d-flex justify-content-around">
                      <div class="p-2 text-white w-100"  [formGroupName]="i" >
                        <input
                          type="number"
                          formControlName="phone"
                          class="form-control form-control-rounded"
                          placeholder="{{ 'phone' | translate }}"
                        />
                        <div
                        *ngIf="
                          !form.get('branch').controls.phoneNumbers.controls[i].get('phone').valid &&
                          (form.get('branch').controls.phoneNumbers.controls[i].get('phone').dirty || form.get('branch').controls.phoneNumbers.controls[i].get('phone').touched)
                        "
                        class="text text-danger"
                      >
                        <p class="text-center mb-0 mt-1" *ngIf="form.get('branch').controls.phoneNumbers.controls[i].get('phone').hasError('required')">
                          {{ "required" | translate }}
                        </p>
                      </div>
                      </div>
  
                      <div class="p-1">
                        <span
                          title="{{ 'Delete' | translate }}"
                          class="badge badge-pill badge-danger p-2 mr-1"
                          (click)="deletePhoneForm(i)"
                        >
                          <i
                            title="{{ 'Delete' | translate }}"
                            class="text-20 font-weight-bold i-Delete-File"
                          ></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
            *ngIf="
              !form.get('branch').get('phoneNumbers').valid &&
              (form.get('branch').get('phoneNumbers').dirty || form.get('branch').get('phoneNumbers').touched)
            "
            class="text text-danger"
          >
            <p class="text-center mb-0 mt-1" *ngIf="form.get('branch').get('phoneNumbers').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
          </div>
        </div>


        <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "featuredImage" | translate }} </label>
          <app-file-input
            [control]="form.controls.branch.get('featuredImage')"
            [currentImage]="form.controls.branch.get('featuredImage').value"
          >
          </app-file-input>
          <div
            *ngIf="
              !form.controls.branch.get('featuredImage').valid &&
              (form.controls.branch.get('featuredImage').dirty ||
              form.controls.branch.get('featuredImage').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.controls.branch.get('featuredImage').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "images" | translate }} </label>
          <app-file-input
            [controlArray]="form.controls.branch.get('images')"
            [multiple]="true"
          >
          </app-file-input>
          <div
            *ngIf="
              !form.controls.branch.get('images').valid &&
              (form.controls.branch.get('images').dirty ||
              form.controls.branch.get('images').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.controls.branch.get('images').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>
      </div>

        <div class="row mt-4">
          <p class="lead mx-2">
            {{ "Locate_loacation" | translate }}
          </p>
          <div class="col-md-12 mx-auto border py-2 shadow" style="height: 50vh">
            <app-google-map
              (marker)="setMarkerLocation($event)"
              [markerPositions]="locationList"
            ></app-google-map>
            <div
              *ngIf="
                !form.get('branch').get('lat').valid &&
                (form.get('branch').get('lat').dirty || form.get('branch').get('lat').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('branch').get('lat').hasError('required')">
                {{ "required" | translate }}
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="d-flex justify-content-center my-5">
        <div class="p-2" *ngIf="mode != 'View'">
          <button
            type="submit"
            class="btn btn-info btn-block btn-hover-scale px-5"
          >
            {{ "save" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
