<div class="card card-flush shadow-sm">
    <div class="card-header">
      <h3 class="card-title">
        <span> {{ mode | translate }} - </span>
        <span class="mx-2"> {{ "tables" | translate }} </span>
      </h3>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row mt-3">
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "capacity" | translate }}</label>
            <input
              type="number"
              formControlName="capacity"
              class="form-control form-control-rounded"
              placeholder="{{ 'capacity' | translate }}"
            />
            <div
              *ngIf="
                !form.get('capacity').valid &&
                (form.get('capacity').dirty || form.get('capacity').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('capacity').hasError('required')">
                {{ "required" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{ "status" | translate }}</label>
            <input
              type="text"
              formControlName="status"
              class="form-control form-control-rounded"
              placeholder="{{ 'status' | translate }}" 
            />
            <div
              *ngIf="
                !form.get('status').valid &&
                (form.get('status').dirty || form.get('status').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('status').hasError('required')">
                {{ "required" | translate }}
              </p>
              <p *ngIf="form.get('status').hasError('pattern')">{{'only_ar'|translate }} </p>
            </div>
          </div>
        </div>
  
        <div class="row mt-3">
            <div class="col-md-6 col-sm-12">
              <label class="form-label">{{ "qrCode" | translate }}</label>
              <input
                type="text"
                formControlName="qrCode"
                class="form-control form-control-rounded"
                placeholder="{{ 'qrCode' | translate }}"
              />
              <div
                *ngIf="
                  !form.get('qrCode').valid &&
                  (form.get('qrCode').dirty || form.get('qrCode').touched)
                "
                class="text text-danger"
              >
                <p *ngIf="form.get('qrCode').hasError('required')">
                  {{ "required" | translate }}
                </p>
                <p *ngIf="form.get('qrCode').hasError('pattern')">{{'only_en'|translate }} </p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <label for="picker1">
                  {{ "branch" | translate }}
                </label>
                <select
                  formControlName="branchId"
                  class="form-control form-control-rounded"
                >
                  <option
                    *ngFor="let item of branchList; let i = index"
                    [ngValue]="+item.id"
                  >
                  {{ currentLanguage == "en" ? item.title : item.titleAr }}
                  </option>
                </select>
                <div
                  *ngIf="
                    !form.get('branchId').valid &&
                    (form.get('branchId').dirty || form.get('branchId').touched)
                  "
                  class="text text-danger"
                >
                  <p *ngIf="form.get('branchId').hasError('required')">
                    {{ "required" | translate }}
                  </p>
                </div>
              </div>
          </div>

          <div class="d-flex justify-content-center my-5">
        <div class="p-2" *ngIf="mode != 'View'">
          <button
            type="submit"
            class="btn btn-info btn-block btn-hover-scale px-5"
          >
            {{ "save" | translate }}
          </button>
        </div>

      
      </div>
      
      </form>
  
   
    </div>
  </div>
  