<div class="card card-flush shadow-sm">
  <div class="card-header">
    <h3 class="card-title">
      <span> {{ mode | translate }} - </span>
      <span class="mx-2"> {{ "products" | translate }} </span>
    </h3>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "name" | translate }}</label>
          <input
            type="text"
            formControlName="name"
            class="form-control form-control-rounded"
            placeholder="{{ 'name' | translate }}"
          />
          <div
            *ngIf="
              !form.get('name').valid &&
              (form.get('name').dirty || form.get('name').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('name').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "discription" | translate }}</label>
          <input
            type="text"
            formControlName="description"
            class="form-control form-control-rounded"
            placeholder="{{ 'discription' | translate }}"
          />
          <div
            *ngIf="
              !form.get('description').valid &&
              (form.get('description').dirty || form.get('description').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('description').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4 form-group mb-3">
          <label for="picker1">
            {{ "category" | translate }}
          </label>
          <select
            formControlName="categoryId"
            class="form-control form-control-rounded"
          >
            <option
              *ngFor="let item of categoryList; let i = index"
              [value]="item.id"
            >
              {{ item.name }}
            </option>
          </select>
          <div
            *ngIf="
              !form.get('categoryId').valid &&
              (form.get('categoryId').dirty || form.get('categoryId').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('categoryId').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <label class="form-label">{{ "imageOverlayCost" | translate }}</label>
          <input
            type="number"
            formControlName="imageOverlayCost"
            class="form-control form-control-rounded"
            placeholder="{{ 'imageOverlayCost' | translate }}"
          />
          <div
            *ngIf="
              !form.get('imageOverlayCost').valid &&
              (form.get('imageOverlayCost').dirty ||
                form.get('imageOverlayCost').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('imageOverlayCost').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <p>
            {{ "imageOverlayEnabled" | translate }}
          </p>
          <div class="row">
            <div class="col-6">
              <label class="radio radio-info"
                ><input
                  formControlName="imageOverlayEnabled"
                  [value]="true"
                  name="imageOverlayEnabled"
                  type="radio"
                  class="ng-valid ng-dirty ng-touched" /><span>
                  {{ "yes" | translate }}</span
                ><span class="checkmark"></span
              ></label>
            </div>
            <div class="col-6">
              <label class="radio radio-info"
                ><input
                  formControlName="imageOverlayEnabled"
                  [value]="false"
                  name="imageOverlayEnabled"
                  type="radio"
                  class="ng-valid ng-dirty ng-touched" /><span>
                  {{ "cancel" | translate }}</span
                ><span class="checkmark"></span
              ></label>
            </div>
          </div>

          <div
            *ngIf="
              !form.get('imageOverlayCost').valid &&
              (form.get('imageOverlayCost').dirty ||
                form.get('imageOverlayCost').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('imageOverlayCost').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>
      </div>
    </form>

    <div class="row mt-3">
      <div class="col-md-6 col-sm-12">
        <div class="card border h-100">
          <div class="card-header">
            <h5>
              {{ "size" | translate }}
            </h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div
                class="col-md-4 col-sm-6"
                *ngFor="let item of sizeList; let i = index"
              >
                <label class="checkbox checkbox-info">
                  <input
                    checked=""
                    [value]="item.sizeCode"
                    [(ngModel)]="item.selected"
                    type="checkbox"
                  />
                  <span> {{ item.sizeCode }} </span
                  ><span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="card border">
          <div class="card-header">
            <h5>
              {{ "color" | translate }}
            </h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div
                class="col-md-4 col-sm-6 d-flex"
                *ngFor="let item of colorList; let i = index"
              >
                <label class="checkbox checkbox-info text">
                  <input
                    checked=""
                    [(ngModel)]="item.selected"
                    type="checkbox"
                  />
                  <span
                    [style]="{ 'background-color': item.hexa }"
                    class="border font-weight-bold px-2 text-white"
                  >
                    {{ item.colorName }} </span
                  ><span class="checkmark"></span>
                </label>
                <!-- <div class="" style="width:30px;height:30px;background-color:{{item.hexa}};"></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6 col-sm-12">
        <div class="card border">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="p-2">
                <h5>
                  {{ "pricingList" | translate }}
                </h5>
              </div>
              <div class="p-2">
                <button
                  (click)="openListPriceItemModal()"
                  type="button"
                  class="btn btn-rounded btn-info px-4 mx-4 text-white d-inline-block"
                >
                  <i class="fas fa-plus"></i>
                  {{ "create" | translate }}
                </button>
              </div>
            </div>
            <div
              class="card bg-info my-2"
              *ngFor="
                let item of form.get('pricingList')['controls'];
                let i = index
              "
            >
              <div class="card-body py-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 text-white">
                    {{ "fromQuantity" | translate }} :{{
                      item.controls.fromQuantity.value
                    }}
                  </div>
                  <div class="p-2 text-white">
                    {{ "toQuantity" | translate }} :{{
                      item.controls.toQuantity.value
                    }}
                  </div>
                  <div class="p-2 text-white">
                    {{ "price" | translate }} :{{ item.controls.price.value }}
                  </div>

                  <div class="p-1">
                    <span
                      title="{{ 'Delete' | translate }}"
                      class="badge badge-pill badge-danger p-2 mr-1"
                      (click)="deletePricing(i)"
                    >
                      <i
                        title="{{ 'Delete' | translate }}"
                        class="text-20 font-weight-bold i-Delete-File"
                      ></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12" *ngIf="mainObject.images">
        <div class="card border">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="p-2">
                <h5>
                  {{ "proudctImage" | translate }}
                </h5>
              </div>
              <div class="p-2">
                <button
                  (click)="openUploadImageModal()"
                  type="button"
                  class="btn btn-rounded btn-success px-4 mx-4 text-white d-inline-block"
                >
                  <i class="fas fa-plus"></i>
                  {{ "create" | translate }}
                </button>
              </div>
            </div>
            <div
              class="card border bg-dark my-2"
              *ngFor="let item of mainObject.images; let i = index"
            >
              <div class="card-body py-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 text-white">
                    <img
                      [src]="item.url"
                      style="border-radius: 50%"
                      class="img-responsive img-fluid border"
                      width="60px"
                      height="60px"
                      alt=""
                    />
                  </div>
                  <div class="p-2 pt-3">
                    <h5 class="text-white">
                      {{ "orderNo" | translate }} : {{ item.orderNo }}
                    </h5>
                  </div>

                  <div class="p-1 pt-3">
                    <span
                      title="{{ 'Delete' | translate }}"
                      class="badge badge-pill badge-danger p-2 mr-1"
                    >
                      <!-- (click)="deletePricing(i)" -->
                      <i
                        title="{{ 'Delete' | translate }}"
                        class="text-20 font-weight-bold i-Delete-File"
                      ></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5" *ngIf="mode != 'View'">
      <div class="col-md-4 col-sm-12 mx-auto text-center">
        <button
          (click)="submit()"
          class="btn btn-primary btn-block btn-hover-scale"
        >
          {{ "save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal price -->
<ng-template #priceItemForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center mx-auto" id="modal-title">
      {{ currentAction | translate }}
    </h4>
    <!-- <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button> -->
  </div>
  <div class="modal-body">
    <form [formGroup]="priceForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-12">
          <label class="form-label">{{ "fromQuantity" | translate }}</label>
          <input
            type="number"
            formControlName="fromQuantity"
            class="form-control form-control-rounded"
            placeholder="{{ 'fromQuantity' | translate }}"
          />
          <div
            *ngIf="
              !priceForm.get('fromQuantity').valid &&
              (priceForm.get('fromQuantity').dirty ||
                priceForm.get('fromQuantity').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="priceForm.get('fromQuantity').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>

        <div class="col-12">
          <label class="form-label">{{ "toQuantity" | translate }}</label>
          <input
            type="number"
            formControlName="toQuantity"
            class="form-control form-control-rounded"
            placeholder="{{ 'toQuantity' | translate }}"
          />
          <div
            *ngIf="
              !priceForm.get('toQuantity').valid &&
              (priceForm.get('toQuantity').dirty ||
                priceForm.get('toQuantity').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="priceForm.get('toQuantity').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>

        <div class="col-12">
          <label class="form-label">{{ "price" | translate }}</label>
          <input
            type="number"
            formControlName="price"
            class="form-control form-control-rounded"
            placeholder="{{ 'price' | translate }}"
          />
          <div
            *ngIf="
              !priceForm.get('price').valid &&
              (priceForm.get('price').dirty || priceForm.get('price').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="priceForm.get('price').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      [disabled]="priceForm.status == 'INVALID'"
      class="btn btn-success btn-rounded"
      (click)="addToPriceList()"
    >
      {{ "save" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-rounded mx-2"
      (click)="modal.dismiss('cancel')"
    >
      {{ "cancel" | translate }}
    </button>
  </div>
</ng-template>

<!-- modal price -->
<ng-template #uploadImageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center mx-auto" id="modal-title">
      {{ "proudctImage" | translate }}
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 mt-3">
        <label class="form-label">{{ "orderNo" | translate }}</label>
        <input
          type="number"
          min="1"
          max="5"
          [(ngModel)]="imageObject.order"
          class="form-control form-control-rounded"
          placeholder="{{ 'orderNo' | translate }}"
        />
      </div>

      <div class="col-12 mt-3">
        <label class="form-label">{{ "proudctImage" | translate }}</label>
        <input
          (change)="handleInputChange($event)"
          type="file"
          accept=".png, .jpg, .jpeg"
          class="form-control form-control-rounded"
        />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      [disabled]="!imageObject.order && !imageObject.image"
      class="btn btn-success btn-rounded"
      (click)="uploadProductImage()"
    >
      {{ "save" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-rounded mx-2"
      (click)="modal.dismiss('cancel')"
    >
      {{ "cancel" | translate }}
    </button>
  </div>
</ng-template>
