<div class="mb-4">
  <div class="breadcrumb">
    <h1 class="">{{ "recievedMsg" | translate }}</h1>
    <ul>
      <li>
        <a class="text-dark font-weight-bold">{{ "list" | translate }}</a>
      </li>
      <li>{{ "message" | translate }}</li>
    </ul>
  </div>

  <div class="card" style="background: #dbe8f3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 mr-auto text-center">
          <button
            type="button"
            class="btn btn-rounded btn-info px-4 mx-4 text-white d-inline-block"
            (click)="openCreateModal()"
          >
            <i class="fas fa-plus"></i>
            {{ "create" | translate }}
          </button>
        </div>
      </div>
      <div *ngFor="let item of messageList; let i = index">
        <div class="card my-2" [style.background]="item.messageRead? '#dbdbdb':'#fff'">
          <div class="card-body py-2">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h5
                  class="font-weight-bolder text-info"
                  style="font-weight: 800"
                >
                  <span class="mx-2"> {{ item.senderUser }}</span>
                  <span> <i class="text-20 i-Administrator mx-2"></i></span>
                </h5>
                <h6
                  class="font-weight-bolder text-primary"
                  style="font-weight: 900"
                >
                  <span class="mx-2"> {{ item.subject }}</span>
                  <span> <i class="text-20 i-Post-Sign mx-2"></i></span>
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-sm-10">
                <p class="mb-0">
                  {{ item.body }}
                </p>
              </div>
              <div class="col-md-2 col-sm-2 text-center">
                <button
                  *ngIf="item.id + 'comment' != currentReply"
                  type="button"
                  (click)="currentReply = item.id + 'comment'"
                  class="btn btn-rounded btn-info px-4 mx-4 text-white d-inline-block"
                >
                  Reply
                </button>
              </div>
            </div>
            <div class="row mt-1" *ngIf="item.id + 'comment' == currentReply">
              <div class="col-md-10 col-sm-12">
                <input
                  *ngIf="item.id + 'comment' == currentReply"
                  type="text"
                  [(ngModel)]="body"
                  class="form-control form-control-rounded"
                  placeholder="{{ 'imageOverlayCost' | translate }}"
                />
              </div>
              <div class="col-md-2 col-sm-2 text-center">
                <button
                  type="button"
                  [disabled]="!body.length"
                  class="btn btn-rounded btn-dark px-4 mx-4 text-white d-inline-block font-weight-bolder"
                  (click)="sendReplay(item.id)"
                >
                  send
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-12">
            <div
              class="card my-2"
              style="background: #fbecd8"
              *ngFor="let comment of item.replyMessage; let c = index"
            >
              <div class="card-body py-2">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <h5
                      class="font-weight-bolder text-info"
                      style="font-weight: 800"
                    >
                      <span class="mx-2"> {{ comment.senderUser }}</span>
                      <span> <i class="text-20 i-Administrator mx-2"></i></span>
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10 col-sm-10">
                    <p class="mb-0">
                      {{ comment.body }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-3" *ngIf="i+1 != messageList.length"/>
      </div>
      <div class="row mt-3">
        <div class="col-md-3 col-sm-12 mx-auto">
          <button type="button" *ngIf="filter.page < pagination.totalPages" class="btn btn-info btn-block btn-rounded" (click)="filter.page = filter.page +1;getmessageList()">
            getMore
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center mx-auto" id="modal-title">
      {{ "createMsg" | translate }}
    </h4>
    <!-- <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
  </div>
  <div class="modal-body">
    <div class="col-md-12 col-sm-12">
      <label for="" class="control-label mx-auto">
        {{ "users" | translate }}
      </label>
      <select
        class="form-control text-center"
        [(ngModel)]="sendMessageObject.reciver"
      >
        <option [value]="item.userId" *ngFor="let item of userList">
          {{ item.username }}
        </option>
      </select>
    </div>

    <div class="col-12 my-2">
      <label class="form-label">{{ "title" | translate }}</label>
      <input
        type="text"
        [(ngModel)]="sendMessageObject.subject"
        class="form-control form-control-rounded"
        placeholder="{{ 'title' | translate }}"
      />
    </div>
    <div class="col-12">
      <label class="form-label">{{ "msgBody" | translate }}</label>
      <textarea
        [(ngModel)]="sendMessageObject.body"
        class="form-control form-control-rounded"
        placeholder="{{ 'msgBody' | translate }}"
        rows="4"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      [disabled]="
        !sendMessageObject.reciver ||
        !sendMessageObject.subject ||
        !sendMessageObject.body
      "
      class="btn btn-success btn-rounded"
      (click)="sendNewMessage()"
    >
      {{ "save" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-rounded mx-2"
      (click)="modal.dismiss('cancel')"
    >
      {{ "cancel" | translate }}
    </button>
  </div>
</ng-template>
