<input
  type="file"
  class="form-control form-control-rounded"
  (change)="fileChangeEvent($event)"
  [accept]="accept"
/>
<div
  class="card mt-2 mx-auto"
  *ngIf="!multiple && currentImage"
  style="width: max-content"
>
  <div class="card-body">
    <img [src]="amazonLink + currentImage" alt="" width="200" height="200" />
  </div>
</div>

<div *ngIf="multiple && controlArray" class="d-flex">
  <div
    class="card mt-2 mx-auto"
    style="width: max-content"
    *ngFor="let item of controlArray['controls']; let i = index"
  >
    <div class="card-body">
      <i class="fa fa-trash h4 pointer text-danger" (click)="deleteImage(i)" style="position: absolute;
      top: 7px;"></i>
      <img
        [src]="amazonLink + item.get('image').value"
        alt=""
        width="75"
        height="75"
      />
    </div>
  </div>
</div>
