<div class="row">
  <div
    class="col-md-4 col-sm-12 mt-2"
    *ngFor="let item of propertiesArray; let i = index"
  >
    <div class="form-group">
      <label class="text-white"> {{ item | translate }}</label>
      <input
        *ngIf="
          item == 'fromDate' ||
          item == 'toDate' ||
          item == 'ExpiryDateFrom' ||
          item == 'StartDate' ||
          item == 'EndDate' ||
          item == 'ExpiryDateTo'
        "
        class="form-control form-control-rounded"
        [(ngModel)]="filter[item]"
        type="date"
      />
      <input
        *ngIf="
          item != 'fromDate' &&
          item != 'toDate' &&
          item != 'ExpiryDateFrom' &&
          item != 'StartDate' &&
          item != 'EndDate' &&
          item != 'myOrder' &&
          item != 'ExpiryDateTo'
        "
        type="text"
        [(ngModel)]="filter[item]"
        class="form-control form-control-rounded"
        placeholder="{{ item | translate }}"
      />

      <label class="checkbox checkbox-info" *ngIf="item == 'myOrder'">
        <input
          checked=""
          [(ngModel)]="filter[item]"
          [value]="true"
          type="checkbox"
        />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>
