<div class="card card-flush shadow-sm">
    <div class="card-header">
      <h3 class="card-title">
        <span> {{ mode | translate }} - </span>
        <span class="mx-2"> {{ "variations" | translate }} </span>
      </h3>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="row mt-4" formArrayName="variations">
          <div class="col-12">
            <div class="row">
              <div class="col-md-6 col-sm-12">
               
              </div>
              <div class="col-md-6 col-sm-12 text-right">
                <button
                  type="button"
                  (click)="addVariationsForm()"
                  class="btn btn-rounded btn-info px-4 mx-4 text-white d-inline-block"
                >
                  <i class="fas fa-plus h3"></i>
                  {{ "add" | translate }}
                </button>
              </div>
            </div>
          </div>
  
          <div
            class="col-12 mt-3"
            *ngFor="let item of form.get('variations')['controls']; let i = index"
          >
            <div class="card border" [formGroupName]="i">
              <div class="card-header d-flex justify-content-between">
                <button
                type="button"
                (click)="addNewAttribute(i)"
                class="btn btn-rounded btn-info px-4 mx-4 text-white d-inline-block"
              >
                <i class="fas fa-plus h4"></i>
                {{ "addNewAttributes" | translate }}
              </button>

              <button
              type="button"
              (click)="deleteVariation(i)"
              class="btn btn-rounded btn-danger px-4 mx-4 text-white d-inline-block"
            >
            <i class="fa fa-trash h4  pointer"></i>
              {{ "deleteVariation" | translate }}
            </button>
              </div>
              <div class="card-body">
                <div class="row mt-3">
                  <div class="col-md-6 col-sm-12">
                    <label class="form-label">{{ "title" | translate }}</label>
                    <input
                      type="text"
                      formControlName="title"
                      class="form-control form-control-rounded"
                      placeholder="{{ 'title' | translate }}"
                    />
                    <div
                      *ngIf="
                        !form.get('variations').controls[i].get('title').valid &&
                        (form.get('variations').controls[i].get('title').dirty ||
                          form.get('variations').controls[i].get('title').touched)
                      "
                      class="text text-danger"
                    >
                      <p
                        *ngIf="
                          form
                            .get('variations')
                            .controls[i].get('title')
                            .hasError('required')
                        "
                      >
                        {{ "required" | translate }}
                      </p>
                      <p
                        *ngIf="
                          form
                            .get('variations')
                            .controls[i].get('title')
                            .hasError('pattern')
                        "
                      >
                        {{ "only_en" | translate }}
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="form-label">{{ "title" | translate }} ع</label>
                    <input
                      type="text"
                      formControlName="titleAr"
                      class="form-control form-control-rounded"
                      placeholder="{{ 'title' | translate }} ع"
                    />
                    <div
                      *ngIf="
                        !form.get('variations').controls[i].get('titleAr')
                          .valid &&
                        (form.get('variations').controls[i].get('titleAr')
                          .dirty ||
                          form.get('variations').controls[i].get('titleAr')
                            .touched)
                      "
                      class="text text-danger"
                    >
                      <p
                        *ngIf="
                          form
                            .get('variations')
                            .controls[i].get('titleAr')
                            .hasError('required')
                        "
                      >
                        {{ "required" | translate }}
                      </p>
                      <p
                        *ngIf="
                          form
                            .get('variations')
                            .controls[i].get('titleAr')
                            .hasError('pattern')
                        "
                      >
                        {{ "only_ar" | translate }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-6 col-sm-12">
                    <label class="form-label">{{
                      "description" | translate
                    }}</label>
                    <input
                      type="text"
                      formControlName="description"
                      class="form-control form-control-rounded"
                      placeholder="{{ 'description' | translate }}"
                    />
                    <div
                      *ngIf="
                        !form.get('variations').controls[i].get('description')
                          .valid &&
                        (form.get('variations').controls[i].get('description')
                          .dirty ||
                          form.get('variations').controls[i].get('description')
                            .touched)
                      "
                      class="text text-danger"
                    >
                      <p
                        *ngIf="
                          form
                            .get('variations')
                            .controls[i].get('description')
                            .hasError('required')
                        "
                      >
                        {{ "required" | translate }}
                      </p>
                      <p
                        *ngIf="
                          form
                            .get('variations')
                            .controls[i].get('description')
                            .hasError('pattern')
                        "
                      >
                        {{ "only_en" | translate }}
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="form-label"
                      >{{ "description" | translate }} ع</label
                    >
                    <input
                      type="text"
                      formControlName="descriptionAr"
                      class="form-control form-control-rounded"
                      placeholder="{{ 'description' | translate }} ع"
                    />
                    <div
                      *ngIf="
                        !form.get('variations').controls[i].get('descriptionAr')
                          .valid &&
                        (form.get('variations').controls[i].get('descriptionAr')
                          .dirty ||
                          form.get('variations').controls[i].get('descriptionAr')
                            .touched)
                      "
                      class="text text-danger"
                    >
                      <p
                        *ngIf="
                          form
                            .get('variations')
                            .controls[i].get('descriptionAr')
                            .hasError('required')
                        "
                      >
                        {{ "required" | translate }}
                      </p>
                      <p
                        *ngIf="
                          form
                            .get('variations')
                            .controls[i].get('descriptionAr')
                            .hasError('pattern')
                        "
                      >
                        {{ "only_ar" | translate }}
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="row mt-3">
                  <div class="col-md-6 col-sm-12">
                    <label class="form-label">{{ "price" | translate }}</label>
                    <input
                      type="number"
                      formControlName="price"
                      class="form-control form-control-rounded"
                      placeholder="{{ 'price' | translate }}"
                    />
                    <div
                    *ngIf="
                      !form.get('variations').controls[i].get('price')
                        .valid &&
                      (form.get('variations').controls[i].get('price')
                        .dirty ||
                        form.get('variations').controls[i].get('price')
                          .touched)
                    "
                    class="text text-danger"
                  >
                    <p
                      *ngIf="
                        form
                          .get('variations')
                          .controls[i].get('price')
                          .hasError('required')
                      "
                    >
                      {{ "required" | translate }}
                    </p>
                  </div>
                  </div>
                </div>
  
               <div class="row mt-3" formArrayName="attributes" *ngFor="let row of form.get('variations').controls[i].get('attributes')['controls']; let l = index">
                 <div class="col-sm-12">
                
                   <div class="card border bg-dark text-white" [formGroupName]="l">
                        <div class="card-body py-2 pb-3">
                  
                        <i (click)="deleteNewAttribute(i,l)" class="fa fa-trash h4 text-danger pointer"></i>
          
                   
                     <div class="row mt-2">
                      <div class="col-md-6 col-sm-12">
                        <label for="picker1">
                          {{ "attributes" | translate }}
                        </label>
                        <select
                          formControlName="attributeId"
                          (change)="getAttributesValuesList(form.get('variations').controls[i].get('attributes').controls[l].get('attributeId').value)"
                          class="form-control form-control-rounded"
                        >
                          <option
                            *ngFor="let attributes of attributesList; let c = index"
                            [ngValue]="+attributes.id"
                          >
                          {{attributes.name }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                          !form.get('variations').controls[i].controls.attributes.controls[l].controls.attributeId.valid &&
                          (form.get('variations').controls[i].controls.attributes.controls[l].controls.attributeId.dirty ||
                          form.get('variations').controls[i].controls.attributes.controls[l].controls.attributeId.touched)
                          "
                          class="text text-danger"
                        >
                          <p *ngIf="form.get('variations').controls[i].controls.attributes.controls[l].controls.attributeId.hasError('required')">
                            {{ "required" | translate }}
                          </p>
                        </div>
                      </div>
  
                      <div class="col-md-6 col-sm-12" *ngIf=" attributesValuesList[form.get('variations').controls[i].get('attributes').controls[l].get('attributeId').value]">
                        <label for="picker1">
                          {{ "attribueValues" | translate }}
                        </label>
                        <select
                          formControlName="attributeValueId"
                          class="form-control form-control-rounded"
                        >
                          <option
                            *ngFor="let attributes of attributesValuesList[form.get('variations').controls[i].get('attributes').controls[l].get('attributeId').value]; let c = index"
                            [ngValue]="+attributes.id"
                          >
                          {{attributes.value }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                          !form.get('variations').controls[i].controls.attributes.controls[l].controls.attributeValueId.valid &&
                          (form.get('variations').controls[i].controls.attributes.controls[l].controls.attributeValueId.dirty ||
                          form.get('variations').controls[i].controls.attributes.controls[l].controls.attributeValueId.touched)
                          "
                          class="text text-danger"
                        >
                          <p *ngIf="form.get('variations').controls[i].get('attributes').controls[l].get('attributeValueId').hasError('required')">
                            {{ "required" | translate }}
                          </p>
                        </div>
                      </div>
                     </div>
  
                    </div>
                  </div>
                  
                </div>
                
              </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="d-flex justify-content-center my-5">
          <div class="p-2" *ngIf="mode != 'View'">
            <button
              type="submit"
              class="btn btn-info btn-block btn-hover-scale px-5"
            >
              {{ "save" | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  