<div class="card card-flush shadow-sm">
  <div class="card-header">
    <h3 class="card-title">
      <span> {{ mode | translate }} - </span>
      <span class="mx-2"> {{ "category" | translate }} </span>
    </h3>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row my-5">
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "name" | translate }}</label>
          <input
            type="text"
            formControlName="name"
            class="form-control form-control-rounded"
            placeholder="{{ 'name' | translate }}"
          />
          <div
            *ngIf="
              !form.get('name').valid &&
              (form.get('name').dirty || form.get('name').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('name').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "discription" | translate }}</label>
          <input
            type="text"
            formControlName="description"
            class="form-control form-control-rounded"
            placeholder="{{ 'discription' | translate }}"
          />
          <div
            *ngIf="
              !form.get('description').valid &&
              (form.get('description').dirty || form.get('description').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('description').hasError('required')">
              {{ "required" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="row my-5" *ngIf="mode != 'View'">
        <div class="col-md-4 col-sm-12 mx-auto text-center">
          <button
            type="submit"
            class="btn btn-primary btn-block btn-hover-scale"
          >
            {{ "save" | translate }}
          </button>
        </div>
      </div>
    </form>

    <div class="row" *ngIf="mode == 'View' || mode == 'Edit'">
      <div class="col-md-6">
        <div class="card" (click)="uploadImage.click()">
          <div class="card-header">
            <h5>Image</h5>
          </div>
          <div class="card-body text-center">
            <img
              [src]="categoryImage"
              class="img-fluid"
              width="300"
              height="300"
            />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card" (click)="uploadCanvas.click()">
          <div class="card-header">
            <h5>canvas</h5>
          </div>
          <div class="card-body text-center">
            <img
              [src]="canvasImage"
              class="img-fluid"
              width="300"
              height="300"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input
  type="file"
  hidden="true"
  #uploadImage
  (change)="uploadCategoryImage($event)"
/>
<input
  type="file"
  hidden="true"
  #uploadCanvas
  (change)="uploadCategoryCanvas($event)"
/>
